body {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 90vh;
}

H1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}